footer {
  font-size: 0.75em;
  font-style: italic;
  margin-top: 35px;
}

.sectionContent {
  margin-left: 15px;
}

.options {
  margin-bottom: 10px;
}

#advancedOutput {
  width: 100%;
  height: 150px;
  background-color: lightgrey;
  overflow-y: scroll;
}

#lastPage {
  display:none;
}

#page2 {
  display: none;
}

.subtitle {
  font-size: 1.75em;
  margin-bottom: 1.75em;
}

input[type="number"] {
  width: 40px;
}

input.small {
  width: 40px;
}

.random-btn {
  margin-top: 15px;
}