footer {
  font-size: 0.75em;
  font-style: italic;
  margin-top: 35px;
}

.sectionContent {
  margin-left: 15px;
}

.options {
  margin-bottom: 10px;
}

#advancedOutput {
  width: 100%;
  height: 150px;
  background-color: lightgrey;
  overflow-y: scroll;
}

input[type="number"] {
  width: 25px;
}